body{
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.6em;
  line-height:1.8em;
}
.container{
	margin:0 auto;
	
	width:1000px;
	border:thin solid red;
}
.content{
	height:500px;
}


.logo{
	width:300px;
	height:74px;
	text-indent: -999px;
	background:url("/static/tamas-logo.png");
	float:left;
	margin-top:10px;
	margin-left: 10px;
}

.header{
	height:100px;
}

.footer{
	border:thin solid blue;
	height:100px;
}

.left{
	width:74%;
	float:left;
	height:100%;
}
.right{
	width:26%;
	float:left;
  height:100%;
}
#tabs2{
  height:50%;
}
.drivers_unavil{
  height:49%;
  border:thin solid grey;
}
.driversU_head{
 height:7%;
  background-color:#C7C7C7;
  text-align:center;
  border-radius: 3px;
  font-size:1.2em;
}

.head-box{
	width:150px;
	float:right;

}

.ui-tabs{
	height:98%;
}
