
body{
  font-family: Verdana,Arial,sans-serif;
  font-size: 0.6em;
  line-height:1.8em;
  background:url('/static/grey_wash_wall.png');
}
.hidden{
  display:none;
}
.container{
  margin:0 auto;
  background-color: white;
  width:1000px;
  border:thin solid black;
  border-radius: 15px;
  padding:3px;
}
.content{
  height:500px;
}

.flex {
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color:#79bbff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #528ecc;
  cusor:pointer;
  margin-top:60px;
  margin-left:30px;
  -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}
.flex:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color:#378de5;
  cusor:pointer;
  -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}
.flex:active {
  position:relative;
  top:1px;
}

.logo{
  width:300px;
  height:74px;
  text-indent: -999px;
  background:url("/static/tamas-logo.png");
  float:left;
  margin-top:10px;
  margin-left: 10px;
}

.header{
  height:100px;
}

.footer{

}

.left{
  width:74%;
  float:left;
  height:100%;
}
.right{
  width:26%;
  float:left;
  height:100%;
}
#tabs2{
  height:50%;
}
.drivers_unavil{
  height:47.5%;
  border: thin solid grey;
  border-radius:5px;
  overflow-y:scroll;
}
.driversU_head{
 height:7%;
  background-color:#C7C7C7;
  text-align:center;
  border-radius: 3px;
  font-size:1.2em;
}



.ui-tabs{
  height:98%;
}
#DriversAvail{
 padding:0; 
 height:89%;
 overflow-y:scroll;
}

.drivers{
  width:100%;
  padding:0;
 
  margin-top:5px;
  text-align:center;
  border-radius:0.3em;
  display:table;
}


.drivers p{
  margin:0;
  padding:0;
  display:table-cell;
  vertical-align:middle;
}


.drivers_avail,.drivers_onCall{
   background:#c7c7c7;
}
.drivers_uavail_inner{
  background:red;
}
#results, #jobsTable,#completedTable{
  position:relative;
  padding-top: 1.7em; 
}
#jobsTable-inner,#completedTable-inner{
  height:400px;
  overflow:auto;
  overflow-x:hidden;
}
#results-inner{
 height:220px;
  overflow:auto;
  overflow-x:hidden;
}
.results thead tr,.tableOfJobs thead tr,.complete thead tr{
  left:0;
  top:0;
  position:absolute;
    background-color:#c7c7c7;
  border-radius:5px 5px 0 0;
}
.results .leavetime, .tableOfJobs .leavetime, .complete .leavetime{
 width: 75px;
  text-align:center;
}
.results .pickuptime, .tableOfJobs .pickuptime, .complete .pickuptime{
 width: 79px; 
  text-align:center;
}
.results .pickup, .tableOfJobs .pickup, .complete .pickup{
  width:200px;
  text-align:center;
}
.results .destin, .tableOfJobs .destin, .complete .destin{
  width: 200px;
  text-align:center;
}
.results .alias, .tableOfJobs .alias, .complete .alias{
  width: 64px;
  text-align:center;
}
.results .dispatched, .tableOfJobs .dispatched, .complete .dispatched{
 width:74px;
  text-align:center;
}
.tableOfJobs, .complete,.results{
  width:100%;
  background-color:#c7c7c7;
  border-radius: 5px 5px 0 0 ;
  border-collapse:collapse;
}

.tableOfJobs thead th, .complete thead th,.results thead th{
  border-bottom: thin solid black;
  text-align:center;
}
.tableOfJobs tbody tr, .complete tbody tr,.results tbody tr{

  text-align:center;
  border-bottom:thin solid black;
}
.form{
 width:100%;
  height:500px;
  
}
.maps{
 width:30%;
  height:40%;
  float:right;
  border:thin solid;
}

.drag-head{
 background:grey; 
}
.tableDrag{
 width:150px;
  height:90px;
  text-align:center;
  border:thin solid black;
  background: white;
  border-radius:5px;
  z-index:1;
}
.drop-hover{
  border: solid black;
  border-width: 5px 1px;
  cursor:copy;
}

.footer{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background:rgba(64,64,64,0.8); 
  z-index: 8080;
}
.footer-inner{
  position: relative;
  background: white;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  margin-top: 25px;
  border-radius: 5px;

}
.footer-inner img{
  position:absolute;
  top:-15px;
  right:10px;
  cursor:pointer;
}
.form,.form2{
  display:none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background:rgba(64,64,64,0.8); 
  z-index: 8080;
}

.form-inner{
  position: relative;
  background: white;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 630px;
  margin-top: 11px;
  border-radius: 5px;
  padding:20px;
}
.form-inner img{
  position:absolute;
  top:-15px;
  right:10px;
  cursor:pointer;
}

#bookingForm{
 float:left;
  width:320px;
  margin-right:10px;
}

.form-wrapper, .acc-form{
  width:320px;
 
}
.pac-container{
  z-index:9999;
}

input, .input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:16px;
  width:300px;
  min-height:15px;
  height:25px;
  margin-bottom:10px;
  margin-top:3px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}
:invalid { 
  border-color: #e88;
  -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
  -moz-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -o-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -ms-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  box-shadow:0 0 5px rgba(255, 0, 0, .8);
}

:required {
  border-color: #88a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}
.form-inner div{
  float:left;
}
.date{
  width:165px;
  margin-right:20px;
}
.time{
    width:110px;
}
.nopass{
    width:100px;
    margin-right:15px;
}
.select{
    width:188px;
    height:30px;
    background:white;
}


.form-inner label{
  display:block;
}
#custMap{
  height:400px;
  width:250px;
  
}


.red{
  color:#940D0D;
}
.minibus{
  background-color:#FAB9D3;
}
.mobility{
  background-color: #E0F75C;
}
.qtip-title{
  text-align: center;
}
.dispatch_status img{
  width:20px;
  height: 20px;
}
.es{
 width:230px; 
}
.dia_p{
  height:20px;
  float:left;
}
.searchinner{
 width:77%; 

  margin:0 auto;
}
.searchinner div{
 width:250px;
  float:left;
  margin:10px;
  height:50px;
}
.searchinner input, .searchinner select{
   width:200px;

}
.searchinner label{
 display:block; 

}
#searchSubmit {
 clear:both;
margin-left:30%;
}
#jobSearch{
 margin-bottom:10px;
  margin-top:4px;
}
#info{
  width:240px;
  border:thin solid black;
  border-radius: 5px;
  padding: 5px;
  height:205px;
  margin-top:10px;
}
#info h1{
 text-align:center;
  font-size:20px;
}
#info div{
 width:200px;
  height:50px;

  margin-top:10px;
  margin-left:20px;
  font-size:16px;
}
 .createhead{
 width:575px;

  height:30px;
  margin-top:-30px;
  margin-bottom:10px;
  text-align:center;
  
}
.accountCreate{
  display: none;
}
.showExample{
 display:inline-block;
  margin-left:0px;
}
#minibusExample{
width:15px;
height:15px;
background-color:#FAB9D3;
margin-right:10px;
}
#mobilityExample{
  background-color: #E0F75C;
  width:15px;
  height:15px;
  margin-right:10px;
}
.examples{
 width:80px; 
  
}
.head-box{
  width:250px;
  float:right;
margin-top:57px;
}
.clock {
    width: 200px;
    margin: 0 auto;
    padding: 0px;

    color: black;
}
#Date {
    font-family:  Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    
}

.datedisplay {
    width: 200px;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

.datedisplay li {
    display: inline;
    font-size: 1.5em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 10px;
    padding-right: 10px;
}


#user{
 position:relative;
  width: 200px;
  height: 30px;
  left:750px;
  top:-90px;
  font-size:1.5em;
}



/* Add some nice box-shadow-ness to the dialogues */
.qtip-dialogue{
  max-width: 420px;
  min-width: 210px;
 
  -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
  box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
}
 
.qtip-dialogue .qtip-content{
  padding: 10px;
}
 
.qtip-dialogue button{
  float: left;
  width: 47%;
  margin-right: 10px;
  padding: 3px 0;
 
  text-align: center;
  font-size: 10.5px;
}
 
.qtip-dialogue button + button{
  float: right;
  margin-right: 0;
}
 
.qtip-dialogue input{
  width: 95%;
  padding: 3px 0 3px 5px;
  margin-bottom: 7px;
 
  font-size: 10.5px;
}
 
.qtip-dialogue button.full{
  float: none;
  width: 100%;
}
.login_page{

  width:400px;
  clear:both;
  margin:0 auto;
  display:block;
  text-align:center;
}

.login_submit{
 width:300px;
  margin-left:14px;
}
.welcome{

  width:400px;
  clear:both;
  margin: 0 auto;
  text-align:center;
  font-size:11px;
  
}













