<!DOCTYPE html>
<!-- This is the base template for the django powered website TAMAS All of the other templated will derive from this one. -->
<html>
<head>
	<title></title>
	<!-- css -->
	<link rel="stylesheet" href="/static/styles.css" />
	<link rel="stylesheet" href="/static/smoothness/jquery-ui-1.10.0.custom.css" />
	<!-- javascript includes-->
	<!-- jquery -->
	<script src="static/jquery.js" ></script>
	<!-- jqueryui -->
	<script src="static/jquery-ui-1.10.0.custom.js" ></script>
	<!-- Custom Javascript -->
	<script src="static/functions.js"></script>

</head>
<body>
	<!-- Contiainer div -->
	<div class='container'>
		<!-- header -->
		<div class='header'>
			<!-- logo -->
			<div class='logo'>
				TAMAS
			</div>

			<!-- need a block for the create and logoin regions which will not be there for every page -->
			{%block header%}
			{%endblock%}
			


		</div>
		<!-- Block for the content -->
		{%block content%}

		{%endblock%}

		<!-- footer -->
		<div class="footer">
		</div>
	</div>

</body>
</html>