
<table class='complete'>
				<thead>
		       		<tr>
		          	    <th class='hidden'>ID</th>
			            <th>Leave Time</th>
			            <th>Pickup Time</th>
			            <th>Pickup</th>
			            <th>Destination</th>
			            <th>Alias</th>
			            <th>Dispatched</th>
		    	    </tr>
			    </thead>
			    <tbody>
			    	{% for booking in completebookings %}
			    		{%if booking.account == None %}
			    		   	{%if booking.vehicle_type == "Minibus"%} 	
			    		   		<tr class='minibus'>
			    		   	{%elif booking.vehicle_type == "Mobility"%}
			    		   		<tr class='mobility'>
			    		   	{%else%}
			    		   		<tr>
			    		   	{%endif%}
						    		<td class='hidden jobid'>{{booking.id}}</td>
						    		<td>{{booking.leave_time|time:"H:i"}}</td>
						    		<td>{{booking.pickup_time|time:"H:i"}}</td>
						    		<td class='midtable'>{{booking.pickup_address}}</td>
						    		<td>{{booking.destin_address}}</td>
						    		<td>Local</td>
						    		{%if booking.driver == None%}
						    			<td class='dispatch_status'><img src='/static/Cross-32.png'/></td>
						    		{%else%}
						    			<td class='dispatch_status'><img src='/static/Tick-32.png'/></td>
						    		{%endif%}
					    	</tr>
					    {%else%}
					    	{%if booking.vehicle_type == "Minibus"%} 	
			    		   		<tr class='red minibus'>
			    		   	{%elif booking.vehicle_type == "Mobility"%}
			    		   		<tr class='red mobility'>
			    		   	{%else%}
			    		   		<tr class='red'>
			    		   	{%endif%}
						    		<td class='hidden jobid'>{{booking.id}}</td>
						    		<td>{{booking.leave_time|time:"H:i"}}</td>
						    		<td>{{booking.pickup_time|time:"H:i"}}</td>
						    		<td class='midtable'>{{booking.pickup_address}}</td>
						    		<td>{{booking.destin_address}}</td>
						    		<td>{{booking.account.alias}}</td>
						    		{%if booking.driver == None%}
						    			<td class='dispatch_status'><img src='/static/Cross-32.png'/></td>
						    		{%else%}
						    			<td class='dispatch_status'><img src='/static/Tick-32.png'/></td>
						    		{%endif%}
						    	</tr>
			    		{%endif%}
			        {%endfor%}
			    </tbody>
			</table>

