{%extends "base_template.html"%}

{%block header%}

{%include "header.html"%}

{%endblock%}
{%block content%}
<!-- lets lay out the main content -->
<!-- content div -->
<div class="content">
	<!-- left div -->
	<div class="left">
		<div id="tabs">
		  <ul>
		    <li><a href="#tabs-1">Todays Current Jobs</a></li>
		    <li><a href="#tabs-2">Todays Completed Jobs</a></li>
		    <li><a href="#tabs-3">Search All Jobs</a></li>
		  </ul>
		  <div id="tabs-1">
		  	
				  	{%block table%}
				  	{%include "table.html"%}
				  	{%endblock%}
			
		    
		  </div>
		  <div id="tabs-2">
		  
				    {%block completeTable%}
				    {%include "completedTable.html"%}
				    {%endblock%}
			   
		  </div>
		  <div id="tabs-3">
		    {%block searchJobs%}
		    {%include "searchJob.html"%}

		    {%endblock%}
		    
		  </div>
		</div>

	</div>
	<div class="right">
		<!-- the top is the current drivers -->
		<div id="tabs2">
		  <ul>
		    <li><a href="#DriversAvail">Drivers</a></li>
		    <li><a href="#tabs-3">On Call</a></li>
		  </ul>
		  <div id="DriversAvail">
		    {%block drivers%}
				    {%include "drivers.html"%}
			{%endblock%}
		  </div>
		  <div id="tabs-3">
		    {%for d in allDrivers %}
		    	<div id="driver{{d.id}}" class="drivers_onCall drivers"><p> {{d.callsign}} <br/>{{d.name}}</p><span class='hidden driverid'>{{d.id}}</span></div>
		    {%endfor%}
		  </div>
		</div>

		<!-- this will have a list of drivers on jobs -->
		<div class="drivers_unavil">
			<div class="driversU_head">
				Drivers On Jobs
			</div>
				{%for d in driversUnavail%}
					{%for b in bookings%}
						{%if d.driver.id == b.driver.id%}
							<div id="driver{{d.id}}" class="drivers_uavail_inner drivers"><p> {{d.driver.callsign}} <br/>{{d.driver.name}}</p><span class='hidden driverid'>{{d.driver.id}}</span><span class="hidden jobid">{{b.id}}</span></div>
		   				{%endif%}
		   			{%endfor%}
		    	{%endfor%}
			
		</div>
		
	</div>
</div>




{%endblock%}

