
{%block header%}
<div class='header'>
			<!-- logo -->
			<div class='logo'>
				TAMAS
			</div>
			<div class='flex'>
				Create Booking
			</div>
			<div class="head-box">

			<div class="clock">
			<div id="Date" ></div>
			  <ul class='datedisplay'>
			      <li id="hours"></li>
			      <li id="point">:</li>
			      <li id="min"></li>
			      <li id="point">:</li>
			      <li id="sec"></li>
			  </ul>
			</div>


			</div>
			<div id='user'>
				Hello {{user.username}} <a href='/logout/'>Logout</a>{%if user.is_staff%} | <a href='/admin/'>Admin</a>{%endif%}
			</div>

</div>
{%endblock%}