
<table class='tableOfJobs'>
				<thead>
		       		<tr>
		          	    <th class='hidden'>ID</th>
			            <th>Leave Time</th>
			            <th>Pickup Time</th>
			            <th>Pickup</th>
			            <th>Destination</th>
			            <th>Alias</th>
		    	    </tr>
			    </thead>
			    <tbody>
			    	{% for booking in bookings %}
			    		{%if booking.account == None %}
			    		   	{%if booking.vehicle_type == "Minibus"%} 	
			    		   		<tr class='minibus'>
			    		   	{%elif booking.vehicle_type == "Mobility"%}
			    		   		<tr class='mobility'>
			    		   	{%else%}
			    		   		<tr>
			    		   	{%endif%}
						    		<td class='hidden'>{{booking.id}}</td>
						    		<td>{{booking.leave_time|time:"H:i"}}</td>
						    		<td>{{booking.pickup_time|time:"H:i"}}</td>
						    		<td>{{booking.pickup_address}}</td>
						    		<td>{{booking.destin_address}}</td>
						    		<td>Local</td>
					    	</tr>
					    {%else%}
					    	{%if booking.vehicle_type == "Minibus"%} 	
			    		   		<tr class='red minibus'>
			    		   	{%elif booking.vehicle_type == "Mobility"%}
			    		   		<tr class='red mobility'>
			    		   	{%else%}
			    		   		<tr class='red'>
			    		   	{%endif%}
						    		<td class='hidden'>{{booking.id}}</td>
						    		<td>{{booking.leave_time|time:"H:i"}}</td>
						    		<td>{{booking.pickup_time|time:"H:i"}}</td>
						    		<td>{{booking.pickup_address}}</td>
						    		<td>{{booking.destin_address}}</td>
						    		<td>{{booking.account.alias}}</td>
						    	</tr>
			    		{%endif%}
			        {%endfor%}
			    </tbody>
			</table>

