<!-- {% for t in tests %}
	{{t.id}}
{% endfor %}
 -->

<table class='tableOfJobs'>
				<thead>
		       		<tr>
		          	    <th>ID</th>
			            <th>Time</th>
			            <th>Pickup</th>
			            <th>Destination</th>
			            <th>Distance</th>
			            <th>Job Time</th>
		    	    </tr>
			    </thead>
			    <tbody>
			    	{% for booking in bookings %}
			    		{%if booking.account == None %}
			    		   	{%if booking.vehicle_type == "Minibus"%} 	
			    		   		<tr class='minibus'>
			    		   	{%elif booking.vehicle_type == "Mobility"%}
			    		   		<tr class='mobility'>
			    		   	{%else%}
			    		   		<tr>
			    		   	{%endif%}
						    		<td>{{booking.id}}</td>
						    		<td>{{booking.pickup_time}}</td>
						    		<td>Asda, Bodmin</td>
						    		<td>Bodmin,Hosp</td>
						    		<td>2 Miles</td>
						    		<td>5 mins</td>
					    	</tr>
					    {%else%}
					    	{%if booking.vehicle_type == "Minibus"%} 	
			    		   		<tr class='red minibus'>
			    		   	{%elif booking.vehicle_type == "Mobility"%}
			    		   		<tr class='red mobility'>
			    		   	{%else%}
			    		   		<tr>
			    		   	{%endif%}
						    		<td>{{booking.id}}</td>
						    		<td>12:30</td>
						    		<td>Asda, Bodmin</td>
						    		<td>Bodmin,Hosp</td>
						    		<td>2 Miles</td>
						    		<td>5 mins</td>
						    	</tr>
			    		{%endif%}
			        {%endfor%}
			    </tbody>
			</table>